@charset "UTF-8";
/* CSS Document */

#header {
	/*background:url(../img/bg-header.png) repeat;*/
	background: url(../img/bg_tramado.png);
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.35) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(0,0,0,0.35)));
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.35) 100%);
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.35) 100%);
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.35) 100%);
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.35) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#59000000',GradientType=0 );
	position:fixed;
	top: 0;
	z-index:1;
	height:100px;
	width:100%;
	padding:0;}
	
#header .logo {
	margin:10px 0 0 0;
	display:block;
	width:292px;
	height:61px;
	float:left;
	background:url(../img/logo.png) no-repeat top;}
	
#header .logo:hover {
	background-position:bottom;}

#header .logo img {
	margin: 62px 0 0 80px;
}
	
#header .redes {
	width:310px;
	margin:17px 30px 0 0;
	float:right;}
	
#header .facebook,  #header .ig,  #header .twitter, #header .pinterest, #header .youtube {
	background:url(../img/ico-redes.png) no-repeat;
	display:block;
	width:28px;
	height:28px;
	float:left;
	margin:0 0 0 10px;
	transition: background 0.3s linear;
	-moz-transition: background 0.3s linear;
	-webkit-transition: background 0.3s linear;
	-o-transition: background 0.3s linear;}
	
#header .facebook {
	background-position:1px;}
	
#header .facebook:hover {
	background-color:#3b5997;}
	
#header .ig {
	background-position:-26px;}
	
#header .ig:hover {
	background-color:#af8e83;}
	
#header .twitter {
	background-position:-53px;}
	
#header .twitter:hover {
	background-color:#1ab2e8;}
	
#header .pinterest {
	background-position:-82px;}
	
#header .pinterest:hover {
	background-color:#c9232d;}
	
#header .youtube {
	background-position:-109px;}
	
#header .youtube:hover {
	background-color:#ef403f;}
	
#header .menu {
	margin:-15px 5px 0 0;
	font-weight:normal;
	text-transform:uppercase;
	font-size:14px;
	letter-spacing:-1px;
	float:right;}
	
#header .menu a {
	color:#FFF;
	text-decoration:none;}
	
#header .menu a:hover {
	color:#dbc451;
	/*color:#ede6dc;*/}
	
#header .menu ul {
	list-style-type:none;}
	
#header .menu ul li {
	padding:5px 0 14px 0;
	float:left;
	margin:0 0 0 30px;}
	
#header .menu ul ul {
	background:#FFF;
	padding:10px;
	z-index:2000;
	width:80px;
	position: absolute;
	top: 99px;
	visibility: hidden;
	font-size:13px;
	display:block;
}

#header .menu ul ul li {
	font-size:13px;
	padding:0;
	margin:0}

#header .menu ul ul li a {
	color:#333;
	display:block;
	padding:3px 3px 3px 3px;} 

#header .menu ul li:hover ul {
	visibility:visible;
}
	
#header .like {
	float: right;
	margin-top: 5px;
	margin-right: -25px
}
	