@charset "UTF-8";
/* CSS Document */

@import url("fonts.css");
@import url("header.css");
@import url("interna.css");
@import url("home.css");
@import url("camera.css");
@import url("slimbox2.css");

* {
	margin:0;
	padding:0;
	border:0;}

body {
	background:url(../img/bg-body.jpg) no-repeat top center;
	font-family:'ApexBook', Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#54484c;}
	
#container {
	width:1000px;
	margin:0 auto;}
	
#container2 {
	width:1000px;
	margin:20px auto;}

a {
	color:#b3242c;
	text-decoration:none;}
	
a:hover {
	text-decoration:underline;}
	
img:hover {
	opacity:0.85;}
	
p {
	margin:0 0 20px 0;}
	
.clear {
	clear:both;}
	
h1, h2, h3 {
	font-family:"ApexBook", "Times New Roman", Times, serif;
	font-weight:normal;
	font-style:italic;}	
	
h1 {
	background:url(../img/ico-arrow.gif) no-repeat left;
	padding:0 0 0 35px;
	color:#736754;
	margin:5px 0;}
	
h2 {
	display:block;
	background:#6f3738;
	text-align:center;
	color:#FFF;
	font-size:18px;
	padding:7px 0;
	margin:10px 0}
	
h3 {
	margin:40px 0 -10px 0;
	font-size:38px;
	color:#6f3738;
	text-transform:uppercase;
	border-top:3px solid #d6d6d6}

h4 {
	margin:0 0 -10px 0;
	font-size:18px;
	color:#6f3738;
	text-transform:uppercase;
	border-bottom:3px solid #d6d6d6}
	
.intro {
	font-family:"ApexBook", "Times New Roman", Times, serif;
	font-weight:normal;
	font-style:italic;
	font-size:20px;
	color:#b3242c;}	
	
#footer {
	margin:40px 0;
	padding:7px 0 0 0;
	border-top:1px solid #ede6dc;
	text-align:right;
	font-size:11px;	}
	
strong {
	color:#b3242c;
	font-weight:bold;}
	

/*social*/
#social {
  margin: 10px auto 10px auto;
  margin-left: 25px;
  width: 400px;
  z-index: 5;
}
#social div {
  display: inline-block;
  zoom: 1;
  *display: inline;
  *display: inline;
  margin-left: 20px;
  vertical-align: top;
  zoom: 1;
}
#social div:nth-child(1) {
  margin-left: 0;
}
#social .btn_youtube:after,
#social .btn_twitter:after,
#social .btn_facebook:after,
#social .btn_googlemas:after {
  background: #fff;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  content: "";
  height: 30px;
  margin-left: -5px;
  margin-top: -28px;
  display: block;
  width: 60px;
}
#social .btn_youtube:after {
  width: 70px;
}
#social .btn_twitter:after {
  width: 80px;
}
#social .btn_facebook,
#social .btn_googlemas {
  width: 55px;
}
#social .btn_facebook:after {
  margin-top: -25px;
  width: 55px;
}
	